.resp-tabs-list li {
    font-weight: 600;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    /**
    border: 1px solid #5AB1D0 !important;
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
    border-top: 4px solid #5AB1D0 !important;
    border-bottom: 0px #fff solid !important;
    **/
}

.resp-tab-active {
    /**
    border-bottom: none;
    background-color: #fff;
    padding:13px 15px!important;
    **/
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

.resp-tab-content {
    /**
    border: 1px solid #c1c1c1;
    border-top-color: #5AB1D0;
    **/
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}


/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 25%;
    background: #f5f5f5;
    padding: 12px 0;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 22px 26px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
    font-size: 16px;
}

.resp-vtabs .resp-tabs-list li span {
    padding: 0 10px;
    display: inline-block;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: none;
    float: left;
    width: 72%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
    margin-left: 20px;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active {
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 22px 15px 22px 14px !important;
    border-top: 12px solid #f5f5f5;
    border: none !important;
    border-left: 12px solid #f5f5f5 !important;
    margin-bottom: 4px !important;
    border-right: 1px #FFF solid !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #9B9797;
}


/*-----------Accordion styles-----------*/

h2.resp-tab-active {
    background: #DBDBDB;
    /* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;
    /* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
    /* !important;*/
}


/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/

@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}

.ordertab {
    padding-top: 30px;
}

.ordertab .resp-tab-active {
    border: none !important;
    border-bottom: 1px solid #db302f !important;
    padding: 0 !important;
    margin: 10px 20px 0 0;
}

.ordertab .resp-tab-content {
    border-top: 1px solid #e0e0e0;
    border-right: none;
    border-bottom: none;
    border-left: none;
    padding: 15px 0;
}

.ordertab .resp-tabs-list li {
    background: none !important;
    border-bottom: none;
    border-color: transparent;
    padding: 0 0 15px 0 !important;
    margin: 10px 20px 0 0;
    font-size: 14px;
}

.ordtitle,
.accountrtbody .h5 {
    font-size: 20px;
}

.orddetlist li {
    font-size: 14px;
    font-weight: 500;
    float: left;
}

.orddetlist {
    overflow: hidden;
}

.orddetlist li:after {
    content: '|';
    padding: 0 20px;
}

.orddetlist li:last-child:after {
    content: '';
    padding-right: 0;
}

.ordrow {
    font-size: 14px;
}
