
/*!
 * jQuery simple gallery Plugin 1.1.0
 *
 * http://fernandomoreiraweb.com/
 *
 * Copyright 2013 Fernando Moreira
 * Released under the MIT license:
 *   http://mit.fernandomoreiraweb.com/
 */


.simplegallery {  
  width: 100%;
  height: 500px;  
}

.simplegallery .content { 
  position: relative;
  width: 78%;
  height: 500px;
  overflow: hidden;
  float:right;
}

.simplegallery .content img {
  width: 100%;
  border: 1px solid #ccc;
  height:500px;
  object-fit: cover;
  object-position: center;
}

.simplegallery .thumbnail {  
  width:20%;
  margin-right:10px;
  float:left;
  height:500px;
  overflow-y:auto;
 }

.simplegallery .thumbnail .thumb {
  float: left;
  width: 100%;
  height: 100px;
  margin: 0 0 6px 0;
  cursor: pointer;
}

.simplegallery .thumbnail .thumb img {
  border: 1px solid #ccc;
  width: 100%;
  height:100px;
  object-fit: cover;
  object-position: center;
}

.simplegallery .thumbnail .last { margin: 0; }
