// all variables for colors

$primarycolor:#585d69; //primary dark gray color
$primarybg:#f4f4f4;
$orangecolor:#e86224;
$whitecolor:#fff;
$bluecolor:#213369;
$lightgray:#727272;
$fgreen:#83c44e;


//variables for responsive breakpoints
$mobile-width:320px;
$tablet-width:768px;
$laptop-width:1024px;
$desktop-width:1200px;

