
// mixin custom fonts 
@mixin fexbold{    
    font-family: 'Poppins', sans-serif;
    font-weight: 800;   
}
@mixin fbold{    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;   
}
@mixin fsemibold{    
    font-family: 'Poppins', sans-serif;
    font-weight: 600;   
}
@mixin fmedbold{    
    font-family: 'Poppins', sans-serif;
    font-weight: 500;   
}
@mixin flight{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;   
}
@mixin ftopsize{
    font-size:30px;
    line-height: 42px;
}
@mixin fmedsize{
    font-size:22px;
    line-height: 32px;
}
// primary font for paragraph and articles 

@mixin primaryfont{
    font-size:14px;
    color:$primarycolor;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
@mixin whiteseperator{
    content:'|';
    color:$whitecolor;
    padding:0 10px;
}
@mixin nopadx{
    padding-right:0;
    padding-left:0;
}
@mixin nopady{
    padding-top:0;
    padding-bottom:0;
}
@mixin linkbtn{
    background:$orangecolor;
    padding:10px;
    display: inline-block;
    color:$whitecolor;    
}
@mixin linkhover{    
        background:$whitecolor;
        color:$orangecolor;   
}
@mixin hometitle{   
    font-size:25px;
    padding:5px 0;
    text-transform: uppercase;   
    border-bottom:1px solid $orangecolor;
    display: inline; 
    position:relative;               
}
@mixin hometitleafter{   
    content:'';
    width:100px;
    height:4px;
    background:$orangecolor;
    position: absolute;
    bottom:-2px;
    left:50%;
    margin-left:-50px;
}
@mixin product{
    figure{
        img{
            background:#ececec;
            width:100%;
            object-fit: cover;
           
        }
        
    }     
}
@mixin afterbgposition{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
@mixin overflow{
    overflow:hidden;
}
@mixin linethrough{
    text-decoration: line-through;
}



//mixins for responsive breakpoints
@mixin mobile{
    @media (min-width:#{$mobile-width}) and (max-width:#{$tablet-width - 1px}){
        @content;
    }
}

@mixin tablet{
    @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1px}){
        @content;
    }
}

@mixin laptop{
    @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width - 1px}){
       @content; 
    }
}




















