@import "../../../sass/app";
@import 'reset';
@import 'mixins';
@import 'variables';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'accordian';
@import 'easy-responsive-tabs';
@import 'simplegallery.demo1';
@import 'xzoom';
//@import '~owl.carousel/src/scss/owl.carousel';
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import '~owl.carousel/dist/assets/owl.theme.default.css';

.bzoom_wrap{
    display: block;
    min-height: 500px;
}
.subpage .cartfigsection article p a {
    color: #585d69;
    display: inline-block;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}
.h-section {
    padding: 2rem 0;
}

.our-collection {
    padding: 2rem 0 1rem;
}

.our-products {
    background: #f2f6f9;
}

.product-name {
    font-size: 1rem;
    padding-top: 10px;
    margin-bottom: 25px;
    color: #000;
}

.carousel-item img {
    width: 100%;
}

.carousel-indicators li {
    width: 11px;
    height: 11px;
    background-color: #fff;
    border: 1px solid #000;
    opacity: 1;
    background-clip: border-box;
}

.carousel-indicators .active {
    background-color: #000;
    border: 1px solid #000;
}

.top-header {
    background: #000;
    padding: 3px 0;
    color: #fff;
    font-size: 0.9rem;
}

.top-header a {
    color: #fff;
}

.social-links a {
    padding-left: 10px;
}

.navbar-brand img {
    max-width: 114px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-link.dropdown-toggle:after {
    display: none;
}

.nav-item.active .nav-link {
    color: #459d9f !important;
    border-bottom: 2px solid #e9cd2a;
}

.navbar-light .navbar-nav .login-link {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 0.8rem;
}

.login-link {
    position: relative;
    padding-left: 30px !important;
    line-height: normal;
}

.login-link .fa {
    position: absolute;
    left: 8px;
    top: 10px;
    font-size: 27px;
    color: #dfb92b;
}

.icon-link .fa {
    font-size: 29px;
}

.icon-link {
    color: #f16977 !important;
}

.icon-cart {
    color: #000 !important;
}

.navbar-expand-lg .navbar-nav {
    align-items: center;
}

.icon-search {
    color: #cbc226 !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 28px;
    height: 60px;
    background-color: #000;
}

.news-section-top {
    background-color: #f7f7f7;
    box-shadow: 0 3px 11px 1px #dedede, inset 0 3px 17px 1px #dedede;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

.news-main, .latest-news-events {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.profile-thumb {
    flex-basis: 126px;
    max-width: 126px;
}

.news-img-box {
    flex-basis: 85px;
    max-width: 85px;
}

.profile-thumb img {
    max-width: 100%;
}

.profile-des {
    flex-basis: calc(100% - 126px);
    max-width: calc(100% - 126px);
    padding-left: 10px;
}

.news-list-main {
    flex-basis: calc(100% - 85px);
    max-width: calc(100% - 85px);
    padding: 10px 5px 10px;
}

.news-img-box:after {
    position: absolute;
    content: "";
    left: 83px;
    top: 45%;
    width: 0;
    height: 0;
    border-left: 13px solid #459d9f;
    border-right: 0 solid transparent;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
}

.profile-des h3 {
    font-size: 1rem;
    margin: 0 0 5px;
}

.profile-des p {
    margin-bottom: 0;
    line-height: normal;
    font-size: 0.8rem;
    min-height: 50px;
}

.date-time {

    color: #717171;
    line-height: normal;
}

.date-readmore {
    font-size: 0.8rem;
}

.news-img-box {
    flex-basis: 85px;
    max-width: 85px;
    background: #459d9f;
    color: #fff;
    text-align: center;
    height: auto;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.news-heading {
    margin: 0;
    font-size: 1.3rem;
}

.news-section-top .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

.news-list-main .row {
    margin: 0 -5px;
}

.news-list-main .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.free-shipping h4 {
    font-size: 1rem;
    margin-bottom: 3px;
}

.free-shipping img {
    margin-bottom: 10px;
}

.btn-success {
    background-color: #459d9f;
    border-color: #459d9f;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.our-products .product-name, .inner-products .product-name {
    margin-bottom: 0;
    min-height: 55px;
}

.inner-products .form-group {
    margin-bottom: 3rem;
}

.price {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.testimonials {
    background: url(/images/testimonials.jpg) no-repeat;
    background-size: cover;
    padding: 3rem 0;
}

.client-description {
    max-width: 650px;
    margin: auto;
}

.client-img img {
    max-width: 100px;
    margin-bottom: 10px;
}

.subscribe-now {
    background: #459d9f;
    color: #fff;
    padding: 1rem 0 0;
}

.subscribe-label {
    font-size: 1.5rem;
}

.input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.footer-main {
    padding: 2rem 0;
    background: #f7f5f3;
}

.footer-main h4 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links > li {
    padding-bottom: 5px;
}

.svg-inline--fa.fa-w-12 {
    width: 0.75em;
}

.footer-main table td {
    padding: 5px 10px;
    vertical-align: text-bottom;
}

.latest-news-events {
    height: 100%;
}

.latest-events .news-img-box {
    background: #f16977;
}

.latest-events .news-img-box:after {
    border-left-color: #f16977;
}

.text-strike {
    text-decoration: line-through;
    color: #929292;
}

.offer-price {
    color: #459d9f;
}

.offer-price {
    color: #ccc326;
    font-weight: bold;
    padding-right: 5px;
}

.inner-head {
    padding-bottom: 1rem;
    margin: 0;
}

.sort-pagination {
    border-top: 1px solid #ddd;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.fiter-by {
    background: #eee;
    border: 1px solid #e8e8e8;
    padding: 5px 10px;
    font-size: 1.2rem;
    margin-top: 5px;
    border-radius: 5px 5px 0 0;
}

.filter-list {
    margin: 0;
    padding: 0 0 10px;
    max-height: 130px;
    overflow-y: auto;
}

.filter-list li label {
    margin: 2px 0;
    font-size: 0.8rem;
    padding: 0 10px;
}

.btn-accordion {
    border-bottom: 1px solid #ddd;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 600;
}

.accordion-icon {
    font-size: 12px;
    margin-top: 5px;
    color: #000;
}

.btn-accordion[aria-expanded="false"] i {
    transform: rotate(180deg);
    margin-top: 6px;
}

.filter-list input[type=checkbox] {
    vertical-align: middle;
}

.filter-sticky {
    position: sticky;
    top: 3px;
}

@media screen and (min-width: 992px) {
    .home-collections .col-lg-3 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.7rem;
        padding-left: 0.7rem;
    }
    .below-desk-top-hide {
        border-left: 1px solid #ddd;
    }
}

@media screen and (max-width: 767px) {
    .m-block {
        display: block;
    }
    .latest-events {
        border-top: 1px solid #000;
    }
}

@media screen and (max-width: 991px) {
    .navbar-expand-lg .navbar-nav {
        align-items: flex-start;
    }
    .below-desk-top-hide {
        display: none;
    }

}

@media screen and (max-width: 1224px) {
    .profile-thumb {
        flex-basis: 80px;
        max-width: 80px;
    }
    .profile-des {
        flex-basis: calc(100% - 80px);
        max-width: calc(100% - 80px);
    }
}

.pagination {
    display: inline-flex;
}
