/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ul, li {
  list-style: none;
}

/** custom fonts **/
/** main styles **/
body {
  font-size: 14px;
  color: #585d69;
  line-height: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: #f4f4f4;
}

a:hover {
  text-decoration: none;
}

* {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.fixed-theme #topNav {
  -webkit-box-shadow: 3px 0 3px #333;
          box-shadow: 3px 0 3px #333;
}

header .newsupdates {
  background: #213369;
  height: 40px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .newsupdates a {
  color: #fff;
  text-decoration: none;
}

header .newsupdates a span {
  color: #e86224;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

header .newsupdates .closenews {
  top: 10px;
  right: 10px;
}

header .topheader {
  background: #e86224;
  height: 45px;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .topheader .navbar-toggler {
    background: #fff;
    top: -32px;
    right: 0;
    position: absolute;
  }
  header .topheader .navbar-toggler i {
    color: #e86224;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  header .topheader {
    height: auto;
  }
}

header .topheader ul.nav li.nav-item a.nav-link {
  color: #fff;
}

header .topheader ul.nav li.nav-item a.nav-link:after {
  content: '|';
  color: #fff;
  padding: 0 10px;
}

header .topheader ul.nav li.nav-item a.nav-link:hover {
  color: #213369;
}

header .topheader ul.nav li.nav-item:last-child a.nav-link:after {
  content: '';
}

header .topheader li.nav-item a.nav-link {
  color: #fff;
  text-transform: uppercase;
  padding-right: 0;
  padding-left: 0;
}

header .topheader li.nav-item a.nav-link:after {
  content: '|';
  color: #fff;
  padding: 0 10px;
}

header .topheader li.nav-item:last-child a:after {
  content: '';
  padding-right: 0;
  padding-left: 0;
}

header .topheader li.nav-item .dropdown-menu {
  top: 38px;
  border-radius: 0;
}

header .topheader li.nav-item .dropdown-menu a.dropdown-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

header .topheader li.nav-item .dropdown-menu a.dropdown-item:hover {
  background: #213369;
  color: #fff;
}

header .topheader .navbar .nav-item .nav-link:hover {
  color: #213369;
}

header .blognav {
  background: none !important;
}

header .blognav .blogbrand img {
  width: 250px;
}

header .blognav #topNav {
  height: auto !important;
  background: none;
}

header .blognav #topNav .navbar-collapse {
  background: #fff;
}

header #topNav {
  background: #fff;
  height: 70px;
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  header #topNav {
    height: auto;
  }
}

header #topNav .nav-item .nav-link {
  color: #585d69;
  text-transform: uppercase;
}

header #topNav .nav-item .nav-link:hover {
  color: #e86224;
}

header #topNav .navactive a.nav-link {
  color: #e86224;
}

header #topNav .dropdown .dropdown-menu {
  border-radius: 0;
}

header #topNav .dropdown .dropdown-menu .dropdown-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

header #topNav .dropdown .dropdown-menu .dropdown-item:hover {
  background: #213369;
  color: #fff;
}

header #topNav .navbar-brand {
  margin-right: 25px !important;
}

header #topNav .navbar-brand img {
  height: 60px;
}

@media (min-width: 320px) and (max-width: 767px) {
  header #topNav .navbar-brand img {
    height: 45px;
  }
}

header #topNav .search input[type="text"] {
  background: none;
  height: 35px;
  min-width: 300px;
  border: 1px solid #585d69;
  padding: 0 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
  header #topNav .search input[type="text"] {
    width: 100%;
  }
}

header #topNav .search input[type="text"]:focus {
  outline: none;
}

header #topNav .search input[type="submit"] {
  background: #213369;
  border-radius: 0;
  height: 35px;
  border: none;
  padding: 0 15px;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
  header #topNav .search input[type="submit"] {
    width: 100%;
  }
}

header #topNav .search input[type="submit"]:hover {
  background: #e86224;
}

header #topNav .search input[type="submit"]:focus {
  border: none;
  outline: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  header #topNav .headersocial {
    width: 100%;
    display: block;
    float: left;
  }
  header #topNav .headersocial li {
    float: left;
    margin: 0 10px;
  }
}

main {
  min-height: 800px;
}

.primarycarousel {
  height: 600px;
  margin-top: 115px;
}

.primarycarousel .carousel-item {
  background-size: cover;
  width: 100%;
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
}

.primarycarousel .slider01 {
  background: url(../images/sliderhome01.jpg);
}

.primarycarousel .slider02 {
  background: url(../images/sliderhome02.jpg);
}

.primarycarousel .slider03 {
  background: url(../images/sliderhome03.jpg);
}

.primarycarousel .carousel-indicators {
  display: none;
}

.primarycarousel article {
  background: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -25%;
  z-index: 99;
  width: 50%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .primarycarousel article {
    top: 5%;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }
}

.primarycarousel article .h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 50px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .primarycarousel article .h2 {
    font-size: 25px;
  }
}

.primarycarousel article .h2 span {
  color: #e86224;
}

.primarycarousel article p {
  color: #fff;
}

.primarycarousel .carousel-control-next,
.primarycarousel .carousel-control-prev {
  background: #e86224;
  width: 50px;
  height: 50px;
  top: 50%;
  opacity: 1;
  margin-top: -25px;
}

.primarycarousel .carousel-control-next:hover,
.primarycarousel .carousel-control-prev:hover {
  background: #213369;
}

.homeOffers {
  background: #fff;
}

.homeOffers .offers-slider {
  margin-top: 50px;
}

.homeOffers .offers-slider .videooffer {
  height: 320px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .homeOffers .offers-slider .videooffer {
    height: auto;
  }
}

.homeOffers .offers-slider .offersimg {
  height: 320px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .homeOffers .offers-slider .offersimg {
    height: auto;
    margin-bottom: 10px;
  }
}

.homeOffers .offers-slider .offersimg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homeOffers .offers-slider .offersimg .offerarticle {
  background: rgba(84, 90, 104, 0.8);
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 50px;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .homeOffers .offers-slider .offersimg .offerarticle {
    width: 90%;
    padding: 0 10px;
    bottom: 6px;
  }
}

.homeOffers .offers-slider .offersimg .offerarticle article {
  margin: 0 auto;
}

.homeOffers .offers-slider .offersimg .offerarticle h4 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .homeOffers .offers-slider .offersimg .offerarticle h4 {
    font-size: 20px;
  }
}

.homeOffers .offers-slider .offersimg .offerarticle h4:after {
  content: '';
  width: 100px;
  height: 4px;
  background: #e86224;
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -50px;
  bottom: -5px;
  height: 2px;
}

.homeOffers .offers-slider .offersimg .offerarticle h2 {
  font-size: 75px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding: 10px 0;
}

.homeOffers .offers-slider .offersimg .offerarticle h2 span {
  font-size: 22px;
  line-height: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: -10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .homeOffers .offers-slider .offersimg .offerarticle h2 {
    font-size: 45px;
  }
}

.homeOffers .offers-slider .offersimg .offerarticle a {
  background: #e86224;
  padding: 10px;
  display: inline-block;
  color: #fff;
}

.homeOffers .offers-slider .offersimg .offerarticle a:hover {
  background: #fff;
  color: #e86224;
}

.homeOffers .offers-slider i {
  font-size: 30px;
  color: #585d69;
}

.homeOffers .offers-slider .carousel-control-next,
.homeOffers .offers-slider .carousel-control-prev {
  opacity: 1;
  width: 50px;
  height: 50px;
  top: -62px;
  bottom: inherit;
}

.homeOffers .offers-slider .carousel-control-next {
  right: 46%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .homeOffers .offers-slider .carousel-control-next {
    right: 35%;
  }
}

.homeOffers .offers-slider .carousel-control-next:hover i {
  color: #e86224;
}

.homeOffers .offers-slider .carousel-control-prev {
  left: 46%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .homeOffers .offers-slider .carousel-control-prev {
    left: 35%;
  }
}

.homeOffers .offers-slider .carousel-control-prev:hover i {
  color: #e86224;
}

.categoriesHome {
  background: #f5f3f3;
}

.categoriesHome .resp-tabs-list {
  text-align: center;
  margin-bottom: 25px;
}

.categoriesHome .resp-tabs-list li.resp-tab-active {
  background: #585d69 !important;
  color: #fff;
}

.categoriesHome .resp-tabs-list li.resp-tab-active:hover {
  color: #fff !important;
}

.categoriesHome .resp-tabs-list li {
  float: none;
  text-transform: uppercase;
}

.categoriesHome .resp-tabs-list li:hover {
  color: #e86224;
}

.indextitle h2 {
  font-size: 25px;
  padding: 5px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #e86224;
  display: inline;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.indextitle h2:after {
  content: '';
  width: 100px;
  height: 4px;
  background: #e86224;
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -50px;
}

.hoverproduct .prohover {
  height: 100% !important;
  opacity: 1 !important;
}

.singleproduct figure img {
  background: #ececec;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.singleproduct figure img {
  height: 300px;
}

.singleproduct figure .discount {
  background: #e86224;
  color: #fff;
  font-size: 13px;
  padding: 3px 10px;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.singleproduct figure .prohover {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 1px;
  opacity: 0;
}

.singleproduct figure .prohover ul {
  padding-top: 50%;
  text-align: center;
  width: 100%;
}

.singleproduct figure .prohover ul li {
  display: inline-block;
}

.singleproduct figure .prohover ul li a {
  width: 45px;
  height: 45px;
  border: 1px solid #909090;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  margin: 0 3px;
  font-size: 20px;
}

.singleproduct figure .prohover ul li a i {
  color: #909090;
}

.singleproduct figure .prohover ul li a:hover {
  background: #e86224;
  color: #fff;
  border: 1px solid #e86224;
}

.singleproduct figure .prohover ul li a:hover i {
  color: #fff;
}

.singleproduct article a {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #000;
}

.singleproduct article a:hover {
  color: #e86224;
}

.singleproduct article ul {
  padding: 10px 0;
}

.singleproduct article ul li {
  display: inline;
  padding: 0 10px;
}

.singleproduct article ul i {
  padding: 0 3px;
  font-size: 12px;
}

.singleproduct article ul .oldprice span {
  text-decoration: line-through;
}

.banner-advertisement {
  background: url(../images/bannergreent.jpg) no-repeat 0 0;
  width: 100%;
  background-size: cover;
  min-height: 500px;
  padding: 135px 0;
}

.banner-advertisement:before {
  content: '';
  background: rgba(88, 152, 93, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.banner-advertisement article {
  z-index: 999;
}

.banner-advertisement h3 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;
}

.banner-advertisement h2 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #fff;
}

.banner-advertisement h2 span {
  color: #e86224;
}

.banner-advertisement p {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
}

.banner-advertisement a {
  background: #e86224;
  padding: 10px;
  display: inline-block;
  color: #fff;
  margin: 20px 0;
}

.banner-advertisement a:hover {
  background: #fff;
  color: #e86224;
}

.categoryTiles .aromarow {
  margin-top: 20px;
}

.categoryTiles .tilecol {
  position: relative;
}

.categoryTiles .tilecol figure img {
  width: 100%;
}

.categoryTiles .tilecol .titlearticle {
  position: relative;
}

.categoryTiles .tilecol .titlearticle article {
  top: 50%;
  left: 50%;
  margin-top: -10%;
  margin-left: -25%;
}

.categoryTiles .tilecol article {
  margin-top: -65px;
  top: 50%;
  z-index: 999;
}

.categoryTiles .tilecol article h4 {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #fff;
}

.categoryTiles .tilecol article p {
  color: #fff;
  font-size: 14px;
  padding: 0 10%;
}

.categoryTiles .tilecol article a {
  letter-spacing: 2px;
  color: #fff;
  background: #e86224;
  padding: 10px;
  display: inline-block;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.categoryTiles .tilecol article a:hover {
  background: #fff;
  color: #e86224;
}

.categoryTiles .tilecol:after {
  content: '';
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  bottom: 6px;
}

.categoryTiles .orangebg:after {
  background: #e86224;
}

.categoryTiles .aromasbg:after {
  background: rgba(172, 72, 91, 0.8);
}

.categoryTiles .teasbg:after {
  background: rgba(8, 81, 54, 0.8);
}

.categoryTiles .accbg:after {
  background: rgba(35, 51, 105, 0.8);
}

.categoryTiles .plantsbg:after {
  background: rgba(88, 93, 105, 0.8);
}

.categoryTiles .saltsbg:after {
  background: rgba(157, 62, 103, 0.8);
}

.mt20 {
  margin-top: 20px;
}

.aboutsasaya .bgname h2 {
  font-size: 285px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: #fff;
  letter-spacing: -15px;
  text-shadow: 0 0 40px #ccc;
  line-height: 220px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

@media (min-width: 320px) and (max-width: 767px) {
  .aboutsasaya .bgname h2 {
    display: none;
  }
}

.aboutsasaya .contentin h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
}

.aboutsasaya .contentin a {
  background: #e86224;
  padding: 10px;
  display: inline-block;
  color: #fff;
  border: 1px solid transparent;
}

.aboutsasaya .contentin a:hover {
  background: #fff;
  color: #e86224;
  border: 1px solid #e86224;
}

.policies .container {
  background: #fff;
  padding: 65px 0;
  margin: 25px auto;
}

.policies .container .row {
  margin-right: 0;
  margin-left: 0;
}

.policies .container .border-right {
  border: none;
}

.policies img {
  height: 65px;
  margin-bottom: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .policies img {
    margin-bottom: 0;
    margin-top: 25px;
  }
}

.policies h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.policies p {
  padding: 10px 8% 0 8%;
}

footer {
  margin-top: 50px;
}

footer .topfooter {
  background: #fff;
  padding: 25px 0;
}

footer .topfooter .fcoltitle {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

footer .topfooter .subscribe input[type="text"] {
  padding: 0 10px;
  height: 40px;
  width: 100%;
  text-align: center;
}

footer .topfooter .subscribe input[type="text"]:focus {
  outline: none;
}

footer .topfooter .subscribe input[type="submit"] {
  background: #e86224;
  padding: 10px;
  display: inline-block;
  color: #fff;
  border: 1px solid transparent;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
}

footer .topfooter .subscribe input[type="submit"]:hover {
  background: #fff;
  color: #e86224;
  border: 1px solid #e86224;
}

footer .topfooter ul li {
  padding: 0 0 7px 0;
}

footer .topfooter ul li a {
  color: #585d69;
}

footer .topfooter ul li a:hover {
  color: #e86224;
}

footer .topfooter table td {
  padding: 5px 10px;
}

footer .topfooter table td i {
  font-size: 16px;
}

footer .topfooter .footersocial li {
  margin-right: 5px;
}

footer .topfooter .footersocial li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #585d69;
  border: 1px solid #ccc;
  display: block;
}

footer .topfooter .footersocial li a:hover {
  background: #e86224;
  border: 1px solid #e86224;
}

footer .topfooter .footersocial li a:hover i {
  color: #fff;
}

footer .topfooter .footersocial li a i {
  font-size: 20px;
}

footer .bottomfooter {
  background: #585d69;
  padding: 5px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .bottomfooter .col-lg-6 {
    text-align: center !important;
  }
}

footer .bottomfooter p {
  color: #fff;
}

footer .bottomfooter #movetop {
  width: 45px;
  height: 45px;
  background: #e86224;
  color: #fff;
  bottom: 0;
  right: 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  position: fixed;
  display: none;
  border: 1px solid transparent;
}

footer .bottomfooter #movetop:hover {
  background: #fff;
  color: #e86224;
  border: 1px solid #e86224;
}

.sign {
  height: 100vh;
}

.sign .leftsign {
  background: #fffaf4 url(../images/lolginleftimg.png) no-repeat center center;
  min-height: 100vh;
  border-right: 2px solid #ffe9ce;
}

.sign .signin {
  width: 450px;
  min-height: 450px;
  background: #fff;
  border: 1px solid #ececeb;
  -webkit-box-shadow: 2px 2px 2px #eee;
          box-shadow: 2px 2px 2px #eee;
  padding: 30px;
}

.sign .signin .signlogo img {
  width: 250px;
}

.sign .signin h3 {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.sign .signin h4 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.sign .form-group {
  margin: 0 0 20px 0;
}

.sign .form-group label {
  padding-bottom: 3px;
}

.sign .form-group a {
  color: #585d69;
}

.sign .form-group a:hover {
  color: #e86224;
}

.sign .form-group .form-control {
  font-size: 14px;
  height: 45px;
  border-radius: 0;
}

.sign .form-group .form-control:focus {
  outline: 1px solid #e86224;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.sign .form-group .form-control::-webkit-input-placeholder {
  color: #ccc;
}

.sign .form-group .form-control:-ms-input-placeholder {
  color: #ccc;
}

.sign .form-group .form-control::-ms-input-placeholder {
  color: #ccc;
}

.sign .form-group .form-control::placeholder {
  color: #ccc;
}

.sign .btn {
  background: #e86224;
  padding: 10px;
  display: inline-block;
  color: #fff;
}

.sign .btn:hover {
  background: #fff;
  color: #e86224;
  border: 1px solid #e86224;
}

.sign p {
  font-size: 14px;
}

.sign p a {
  color: #e86224;
}

.subpage {
  min-height: 600px;
  padding-top: 116px;
}

.subpage .pageheader {
  background: url(../images/productlist-headerbg.jpg) no-repeat 0 0;
  width: 100%;
  height: 150px;
  background-size: cover;
  padding-top: 50px;
}

.subpage .pageheader:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.subpage .pageheader article h2 {
  font-size: 30px;
  line-height: 42px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.subpage .pageheader article h2 span {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

.subpage .pageheader ul.nav {
  margin-top: 15px;
}

.subpage .pageheader ul.nav .nav-item:last-child a {
  color: #e86224;
}

.subpage .pageheader ul.nav .nav-item:last-child a:after {
  content: '';
  padding: 0;
}

.subpage .pageheader ul.nav .nav-item .nav-link {
  padding: 0;
  color: #fff;
  font-size: 12px;
}

.subpage .pageheader ul.nav .nav-item .nav-link:after {
  content: '/';
  padding: 0 10px;
  color: #fff;
}

.subpage .subpagebody {
  padding-top: 30px;
}

.subpage .subpagebody h4.subtitle {
  font-size: 22px;
  line-height: 32px;
  color: #e86224;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.subpage .subpagebody h5.medtitle {
  font-size: 22px;
  line-height: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.subpage .subpagebody .filterrow input[type='text'] {
  border: none;
  background: none;
  height: 25px;
  border-bottom: 1px solid #ccc;
  margin-left: 10px;
}

.subpage .subpagebody .filterrow input[type='text']:focus {
  outline: none;
}

.subpage .subpagebody .filterrow input[type='text']::-webkit-input-placeholder {
  color: #ccc;
}

.subpage .subpagebody .filterrow input[type='text']:-ms-input-placeholder {
  color: #ccc;
}

.subpage .subpagebody .filterrow input[type='text']::-ms-input-placeholder {
  color: #ccc;
}

.subpage .subpagebody .filterrow input[type='text']::placeholder {
  color: #ccc;
}

.subpage .subpagebody .filterrow .filterproduct li:last-child a:after {
  content: '';
  padding: 0;
}

.subpage .subpagebody .filterrow .filterproduct li a {
  padding: 0;
  color: #585d69;
}

.subpage .subpagebody .filterrow .filterproduct li a:hover {
  color: #e86224;
}

.subpage .subpagebody .filterrow .filterproduct li a:after {
  content: '|';
  padding: 0 10px;
}

.subpage .subpagebody .blogcol h4 {
  font-size: 22px;
  line-height: 32px;
}

.subpage .subpagebody .blogcol h4 a {
  color: #585d69;
}

.subpage .subpagebody .blogcol .bloginfo {
  padding-top: 5px;
}

.subpage .subpagebody .blogcol .bloginfo li {
  font-size: 11px;
  color: #727272;
}

.subpage .subpagebody .blogcol .bloginfo li:last-child:after {
  content: '';
  padding: 0;
}

.subpage .subpagebody .blogcol .bloginfo li:after {
  content: '|';
  padding: 0 10px;
}

.subpage .subpagebody .blogdetail h4 {
  font-size: 22px;
  line-height: 32px;
}

.subpage .subpagebody .blogdetail h4 a {
  color: #585d69;
}

.subpage .subpagebody .blogdetail h6 a {
  color: #585d69;
}

.subpage .subpagebody .blogdetail .bloginfo {
  padding-top: 5px;
}

.subpage .subpagebody .blogdetail .bloginfo li {
  font-size: 11px;
  color: #727272;
}

.subpage .subpagebody .blogdetail .bloginfo li:last-child:after {
  content: '';
  padding: 0;
}

.subpage .subpagebody .blogdetail .bloginfo li:after {
  content: '|';
  padding: 0 10px;
}

.subpage .colcontact {
  background: #fff;
  padding: 20px;
}

.subpage .colcontact figure {
  height: 300px;
}

.subpage .colcontact figure img {
  width: 65px;
}

.subpage .colcontact figure h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
}

.subpage .formcol {
  background: #fff;
  padding: 20px;
}

.subpage .formcol h4 {
  font-size: 22px;
  line-height: 32px;
}

.subpage .formcol .form input[type="text"] {
  border-radius: 0;
  margin-top: 2px;
}

.subpage .formcol .form input[type="text"]::-webkit-input-placeholder {
  color: #ccc;
  font-size: 14px;
}

.subpage .formcol .form input[type="text"]:-ms-input-placeholder {
  color: #ccc;
  font-size: 14px;
}

.subpage .formcol .form input[type="text"]::-ms-input-placeholder {
  color: #ccc;
  font-size: 14px;
}

.subpage .formcol .form input[type="text"]::placeholder {
  color: #ccc;
  font-size: 14px;
}

.subpage .formcol .form textarea {
  border-radius: 0;
  height: 120px;
}

.subpage .formcol input[type="submit"] {
  background: #e86224;
  padding: 10px;
  display: inline-block;
  color: #fff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.subpage .formcol input[type="submit"]:focus {
  outline: none;
}

.subpage .formcol input[type="submit"]:hover {
  background: #fff;
  color: #e86224;
  border: 1px solid #e86224;
}

.subpage .contentpage h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}

.subpage .contentpage h5 {
  background: #e8e8e8;
  font-size: 18px;
  display: inline-block;
  padding-right: 15px;
  line-height: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}

.subpage .contentpage h5 span {
  background: #e86224;
  height: 50px;
  padding: 0 10px;
  display: inline-block;
  margin-right: 15px;
  width: 50px;
  text-align: center;
  color: #fff;
}

.subpage .table {
  background: #fff;
}

.subpage .table thead {
  background: #e86224;
}

.subpage .table thead th {
  color: #fff;
  font-weight: normal;
}

.subpage select.form-control {
  width: 55px;
}

.subpage select.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #e86224;
}

.subpage .totalrow {
  background: #213369;
}

.subpage .cartfigsection .cartfig {
  width: 100px;
  height: 107px;
  margin-right: 20px;
}

.subpage .cartfigsection .cartfig img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
  height: 100%;
}

.subpage .cartfigsection article h4 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.subpage .cartfigsection article p a {
  color: #585d69;
  display: inline-block;
}

.subpage .cartfigsection article p a:hover {
  color: #e86224;
}

.subpage .cartfigsection article p a:last-child:after {
  content: '';
  padding: 0;
}

.subpage .cartfigsection article p a:after {
  content: '|';
  padding: 0 10px;
}

.subpage .cartfoot {
  background: #213369;
  color: #fff;
}

.subpage .cartfoot a {
  background: #e86224;
  padding: 10px;
  display: inline-block;
  color: #fff;
  border: 1px solid transparent;
}

.subpage .cartfoot a:hover {
  background: #fff;
  color: #e86224;
  border: 1px solid #e86224;
}

.subpage .checkout .free-gifts h5 {
  font-size: 16px;
  color: #e86224;
}

.subpage .checkout .free-gifts .table thead {
  background: #585d69;
}

.subpage .checkout .checkoutheading {
  background: #e86224;
  color: #fff;
}

.subpage .checkout .resp-tabs-list {
  background: #e86224;
  width: 100%;
  min-height: 52px;
}

.subpage .checkout .resp-tabs-list li {
  background: #e86224 !important;
  color: #fff;
}

.subpage .checkout .resp-tabs-list .resp-tab-active {
  background-color: #db5517 !important;
}

.subpage .checkout .resp-tabs-container {
  background: #fff;
}

.subpage .checkout .resp-tabs-container .form-control {
  border-radius: 0;
  font-size: 14px;
}

.subpage .checkout .resp-tabs-container .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #e86224;
}

.subpage .checkout .resp-tabs-container .form-control input ::-webkit-input-placeholder {
  color: #eee !important;
  font-size: 13px;
}

.subpage .checkout .resp-tabs-container .form-control input :-ms-input-placeholder {
  color: #eee !important;
  font-size: 13px;
}

.subpage .checkout .resp-tabs-container .form-control input ::-ms-input-placeholder {
  color: #eee !important;
  font-size: 13px;
}

.subpage .checkout .resp-tabs-container .form-control input ::placeholder {
  color: #eee !important;
  font-size: 13px;
}

.subpage .checkout .resp-tabs-container .row {
  margin: 5px 0;
}

.subpage .checkout .resp-tabs-container input[type="submit"] {
  background: #e86224;
  padding: 10px;
  display: inline-block;
  color: #fff;
}

.subpage .checkout .resp-tabs-container .savedaddress h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #213369;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 32px;
  padding-bottom: 10px;
}

.subpage .checkout .resp-tabs-container .savedaddress address {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  margin-bottom: 10px;
  position: relative;
}

.subpage .checkout .resp-tabs-container .savedaddress address:last-child {
  border: none;
}

.subpage .checkout .resp-tabs-container .savedaddress address h5 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: 80%;
  padding-bottom: 10px;
}

.subpage .checkout .resp-tabs-container .savedaddress address .addresslabel {
  top: 0;
  right: 0;
  padding: 5px;
  position: absolute;
  color: #fff;
}

.subpage .checkout .resp-tabs-container .savedaddress address .home {
  background: #2b8001;
}

.subpage .checkout .resp-tabs-container .savedaddress address .office {
  background: #00aed3;
}

.subpage .checkout .resp-tabs-container .savedaddress address .others {
  background: #6c008b;
}

.subpage .checkout .resp-tabs-container .savedaddress address .editdel {
  padding-top: 10px;
}

.subpage .checkout .resp-tabs-container .savedaddress address .editdel span a {
  color: #585d69;
}

.subpage .checkout .resp-tabs-container .savedaddress address .editdel span a:last-child:after {
  content: '';
}

.subpage .checkout .resp-tabs-container .savedaddress address .editdel span a:after {
  content: '|';
  padding: 0 10px;
  color: #000;
}

.subpage .checkout .resp-tabs-container .savedaddress address input[type="submit"] {
  background: #e86224;
  padding: 10px;
  display: inline-block;
  color: #fff;
  margin-top: 10px;
}

.subpage .checkout .order-summary h5 {
  font-size: 16px;
  color: #e86224;
}

.subpage .checkout .order-summary table td {
  padding: 5px;
}

.subpage .checkout .order-summary table .finalprice {
  font-size: 16px;
  color: #e86224;
}

.subpage .reveworder {
  font-size: 13px;
  line-height: 16px;
}

.subpage .reveworder .table thead {
  background: #292c32;
}

.subpage .reveworder .table .cartfigsection {
  width: 320px;
}

.subpage .reveworder .table .cartfigsection .cartfig {
  margin-right: 10px;
}

.subpage .reveworder .table .cartfigsection article h4 {
  font-size: 14px;
}

.subpage .reveworder .table .cartfigsection article p {
  font-size: 12px;
  line-height: 13px;
  padding: 8px 0;
}

.subpage .reveworder .table .subtable {
  width: 150px;
}

.subpage .reveworder .table .subtable tr td {
  padding: 4px;
  border: none;
}

.subpage .reveworder .table .cartfoot {
  background: #fff;
}

.subpage .payment .paymentcol {
  background: #fff;
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
  overflow: hidden;
}

.subpage .payment .pricepayment {
  width: 300px;
}

.subpage .payment .paymenttab .paymentcol {
  margin-bottom: 10px;
  padding: 20px 10px;
}

.subpage .payment .paymenttab a {
  color: #585d69;
}

.subpage .payment .paymenttab .resp-tabs-list li {
  padding: 15px 10px !important;
}

.subpage .rtproduct .price .ocolor {
  color: #e86224;
}

.subpage .rtproduct .price span {
  font-size: 22px;
  line-height: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.subpage .rtproduct .price span:before {
  content: '|';
  padding: 0 20px;
  color: #585d69;
  text-decoration: none;
}

.subpage .rtproduct .price span:first-child:before {
  content: '';
  padding: 0;
}

.subpage .rtproduct .price .oldprice {
  text-decoration: line-through;
}

.subpage .rtproduct .price .sm {
  font-size: 13px;
}

.subpage .rtproduct .rttable {
  margin-top: 15px;
}

.subpage .rtproduct .rttable tr td {
  padding: 5px;
}

.subpage .rtproduct .nav {
  margin-top: 20px;
}

.subpage .rtproduct .nav li {
  margin-right: 5px;
}

.subpage .rtproduct .nav li:last-child a {
  background: #e86224;
  color: #fff;
  border: 1px solid #e86224;
}

.subpage .rtproduct .nav li:last-child a:hover {
  background: #fff;
  color: #e86224;
}

.subpage .rtproduct .nav li a {
  padding: 10px 15px;
  display: inlne-block;
  border: 1px solid #ccc;
  color: #585d69;
  border-radius: 5px;
  text-transform: uppercase;
}

.subpage .rtproduct .nav li a:hover {
  background: #e86224;
  color: #fff;
  border: 1px solid #e86224;
}

.subpage .rtproduct .nav li a:hover i {
  color: #fff;
}

.subpage .rtproduct .nav li .form-control {
  margin-top: -9px;
  height: 42px;
  width: 60px;
}

.subpage .rtproduct .nav li .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subpage .deliverto {
  width: 75%;
}

.subpage .deliverto .inputdelivery {
  background: none;
  padding: 10px;
  border: 1px solid #ccc;
  height: 46px;
  border-radius: 5px;
}

.subpage .deliverto .inputdelivery input {
  font-size: 14px;
  color: #333;
  border: none;
  background: none;
}

.subpage .deliverto .inputdelivery input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subpage .deliverto .inputdelivery input:first-child {
  width: 70%;
  border-right: 1px solid #a8a8a8;
  padding-left: 10px;
}

.subpage .deliverto .inputdelivery input:last-child {
  width: 30%;
  padding-left: 10px;
  cursor: pointer;
}

.subpage .deliverto .inputdelivery input:last-child:hover {
  color: #e86224;
}

.subpage .sharepro {
  margin-top: 0 !important;
}

.subpage .sharepro li a {
  padding: 3px 5px;
  font-size: 13px;
  color: #fff !important;
  border: none !important;
}

.subpage .sharepro .fb {
  background: #35538f;
}

.subpage .sharepro .tw {
  background: #34b3d3;
}

.subpage .sharepro .pin {
  background: #b70400;
}

.subpage .sharepro .gplus {
  background: #d53e2b !important;
}

.subpage .productdetailtab .resp-tabs-list {
  background: #fff;
  overflow: hidden;
}

.subpage .productdetailtab .resp-tabs-list li {
  background: #fff !important;
}

.subpage .productdetailtab .resp-tabs-list .resp-tab-active {
  background: #e86224 !important;
  color: #fff;
}

.subpage .productdetailtab .resp-tab-content {
  background: #fff;
  margin-top: 15px;
}

.subpage .productdetailtab .resp-tab-content .specsdetails {
  padding: 10px 20px;
}

.subpage .productdetailtab .resp-tab-content .specsdetails h5 {
  border-bottom: 1px solid #ccc;
}

.subpage .productdetailtab .resp-tab-content .specsdetails table td {
  padding: 6px;
}

.subpage .productdetailtab .resp-tab-content .specsdetails .ratecol h2 {
  font-size: 60px;
  color: #e86224;
}

.subpage .productdetailtab .resp-tab-content .specsdetails .ratecol .ratestars i {
  margin: 2px 3px;
  color: #213369;
}

.subpage .productdetailtab .resp-tab-content .specsdetails .ratecol .ratep {
  color: #e86224;
}

.subpage .productdetailtab .resp-tab-content .specsdetails .progress-bar {
  background: #e86224;
}

.subpage .productdetailtab .resp-tab-content .specsdetails .revdiv img {
  height: 120px;
}

.subpage .productdetailtab .resp-tab-content .specsdetails .revdiv a {
  background: #e86224;
  padding: 10px;
  display: inline-block;
  color: #fff;
}

.subpage .productdetailtab .resp-tab-content .specsdetails .revdiv a:hover {
  background: #fff;
  color: #e86224;
  border: 1px solid #e86224;
}

.subpage .productdetailtab .resp-tab-content .helpfulreview {
  width: 100%;
  padding: 15px 0;
  margin-top: 20px;
}

.subpage .productdetailtab .resp-tab-content .helpfulreview .reviewrow {
  padding: 25px 0;
}

.subpage .productdetailtab .resp-tab-content .helpfulreview .reviewrow figure img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
}

.subpage .productdetailtab .resp-tab-content .helpfulreview .reviewrow .navhelpimg .nav-item {
  margin-right: 10px;
}

.subpage .productdetailtab .resp-tab-content .helpfulreview .reviewrow .navhelpimg .nav-item img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.subpage .productdetailtab .resp-tab-content .helpfulreview .reviewrow .deliverto {
  width: 100%;
}

.subpage .relatedproducts {
  margin: 25px 0;
}

.subpage .relatedproducts h5 {
  background: #f4f4f4;
  padding: 0 15px;
  display: inline;
}

.subpage .relatedproducts h5:after {
  content: '';
  border-bottom: 1px solid #ccc;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 11px;
  left: 0;
  z-index: -1;
}

.subpage .rowaccount {
  background: #fff;
  min-height: 550px;
}

.subpage .rowaccount .cartheadrow h5 {
  background: #213369;
  color: #fff;
}

.subpage .rowaccount .myaccountleftnav li a {
  font-weight: 500;
  color: #585d69;
  padding: 8px 25px;
  display: block;
  font-size: 14px;
}

.subpage .rowaccount .myaccountleftnav li a:hover {
  color: #e86224;
}

.subpage .rowaccount .myaccountleftnav .ltnavactive a {
  background: #e86224;
  color: #fff;
}

.subpage .rowaccount .myaccountleftnav .ltnavactive a:hover {
  color: #fff;
}

.subpage .rowaccount .rightprofile input {
  border: 1px solid #e0e0e0;
  border-radius: 0;
}

.subpage .rowaccount .rightprofile input::-webkit-input-placeholder {
  color: #d2d2d2;
  font-size: 13px;
}

.subpage .rowaccount .rightprofile input:-ms-input-placeholder {
  color: #d2d2d2;
  font-size: 13px;
}

.subpage .rowaccount .rightprofile input::-ms-input-placeholder {
  color: #d2d2d2;
  font-size: 13px;
}

.subpage .rowaccount .rightprofile input::placeholder {
  color: #d2d2d2;
  font-size: 13px;
}

.subpage .rowaccount .rightprofile input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subpage .rowaccount .rightprofile .yeardt input {
  width: 75px;
  text-align: center;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.subpage .rowaccount .rightprofile .btn {
  background: #e86224;
  padding: 10px;
  display: inline-block;
  color: #fff;
}

.subpage .rowaccount .rightprofile .btn:hover {
  background: #fff;
  color: #e86224;
  border: 1px solid #e86224;
}

.subpage .rowaccount .rightprofile .inputfile .input-file {
  display: none;
}

.subpage .rowaccount .rightprofile .propic img {
  width: 150px;
}

.subpage .rowaccount .rightprofile .passwordmust .list-group-item {
  background: url(../images/listbeforeicon.png) no-repeat 0 center;
  padding: 12px 30px;
  border: none;
}

.subpage .rowaccount .rightprofile .showpw i {
  font-size: 20px;
  color: #ccc;
  position: absolute;
  right: 10px;
  bottom: 6px;
}

.subpage .rowaccount .rightprofile .btn {
  background: #e86224;
  padding: 10px;
  display: inline-block;
  color: #fff;
}

.subpage .rowaccount .rightprofile .btn:hover {
  background: #fff;
  color: #e86224;
}

.subpage .rowaccount .rightprofile .ordertab {
  padding-top: 10px;
}

.subpage .rowaccount .rightprofile .ordertab .cartimg img {
  width: 78px;
  height: 78px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ccc;
}

.subpage .rowaccount .rightprofile .ordertab .orddetlist li:last-child:after {
  padding: 0;
  content: '';
}

.subpage .rowaccount .rightprofile .ordertab .orddetlist li:after {
  padding: 0 10px;
}

.subpage .rowaccount .rightprofile .fgreen {
  color: #83c44e;
}

.subpage .rowaccount .rightprofile .ord-status {
  padding: 40px 25px 35px 25px;
}

.subpage .rowaccount .rightprofile .ord-status .barcol {
  width: 32.5%;
  position: relative;
}

.subpage .rowaccount .rightprofile .ord-status .barcol i {
  font-size: 9px;
  color: #579624;
}

.subpage .rowaccount .rightprofile .ord-status .barcol a {
  line-height: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.subpage .rowaccount .rightprofile .ord-status .barcol a.delivered {
  right: 0;
  left: inherit;
}

.subpage .rowaccount .rightprofile .ord-status .barcol .sttext {
  font-size: 14px;
  position: absolute;
  top: -25px;
  left: -8%;
}

.subpage .rowaccount .rightprofile .ord-status .barcol .deliveredst {
  right: -10%;
  left: inherit;
}

.subpage .rowaccount .rightprofile .ord-status .barcol .barstrip {
  position: relative;
  background: #83c44e;
  width: 100%;
  height: 9px;
}

.subpage .rowaccount .rightprofile .ord-status .barcol:first-child .barstrip {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.subpage .rowaccount .rightprofile .ord-status .barcol:last-child .barstrip {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.subpage .rowaccount .rightprofile .table-orderdetails tr td {
  padding: 5px;
}

.subpage .rowaccount .rightprofile .finalprice tr td {
  padding: 6px;
  color: #83c44e;
  font-size: 16px;
}

.subpage .rowaccount .rightprofile .addbox {
  margin-bottom: 25px;
  height: 210px;
  width: 100%;
  padding: 20px;
}

.subpage .rowaccount .rightprofile .addbox p {
  font-size: 14px;
  line-height: 22px;
}

.subpage .rowaccount .rightprofile .addbox .Defaultadd {
  top: 21px;
  right: 15px;
  font-size: 14px;
  color: #83c44e;
}

.subpage .rowaccount .rightprofile .addbox .editdel a {
  color: #585d69;
}

.subpage .rowaccount .rightprofile .addbox .editdel a:hover {
  color: #e86224;
}

.subpage .rowaccount .rightprofile .addplus .acaddin {
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  border: 1px dashed #dbdbdb;
  display: inline-block;
  margin-bottom: 10px;
}

.subpage .rowaccount .rightprofile .addplus .acaddin i {
  color: #585d69;
}

.subpage .rowaccount .rightprofile .addplus span {
  color: #585d69;
}

.subpage .rowaccount .rightprofile .dashed {
  border: 1px dashed #ccc;
  -webkit-box-shadow: 0 0 8px #ccc;
          box-shadow: 0 0 8px #ccc;
}

.subpage .rowaccount .rightprofile .addbox-support .svg {
  width: 66px;
}

.subpage .rowaccount .rightprofile .addbox-support figure {
  height: 300px;
}

.subpage .rowaccount .no-border td {
  border: none;
}

.subpage .rowaccount .ordtitle {
  padding-bottom: 10px;
}

.subpage .ordrow a {
  color: #212121;
}

.addform .form-control {
  border: 1px solid #e0e0e0;
  font-size: 14px;
  border-radius: 0;
}

.addform .form-control:focus {
  outline: 1px solid #db302f;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.addform .form-control::-webkit-input-placeholder {
  color: #d2d2d2;
}

.addform .form-control:-ms-input-placeholder {
  color: #d2d2d2;
}

.addform .form-control::-ms-input-placeholder {
  color: #d2d2d2;
}

.addform .form-control::placeholder {
  color: #d2d2d2;
}

.modalcustom thead {
  background: #e86224;
  color: #fff;
}

.modalcustom .modal-title {
  color: #e86224;
  font-size: 16px;
}

.modalcustom h5 {
  color: #e86224;
  font-size: 16px;
}

.modalcustom a {
  color: #e86224;
}

.modalcustom td {
  vertical-align: middle;
}

@media (min-width: 320px) and (max-width: 767px) {
  .hidexs {
    display: none;
  }
  header .topheader li.nav-item a.nav-link:after {
    display: none;
  }
  h2.resp-accordion {
    padding: 15px;
  }
}
/*# sourceMappingURL=style.css.map */
