@import "../../../sass/app";
@import 'reset';
@import 'mixins';
@import 'variables';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'accordian';
@import 'easy-responsive-tabs';
@import 'simplegallery.demo1';
@import 'xzoom';


.bzoom_wrap{
    display: block;
    min-height: 500px;
}
.subpage .cartfigsection article p a {
    color: #585d69;
    display: inline-block;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}
.bzoom_thumb.bzoom_thumb_active{
    display: contents;
    width: 100%;
}


table.bt thead,
table.bt tbody th {
  display: none;
}

table.bt tfoot th,
table.bt tfoot td,
table.bt tbody td {
  border: none;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;


  /* IE 9 */
  float: left \9
;
  width: 100% \9
;
}

table.bt tfoot th::before,
table.bt tfoot td::before,
table.bt tbody td::before {
  content: attr(data-th) ": ";
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  font-weight: bold;
  width: 6.5em;
}

table.bt tfoot th.bt-hide,
table.bt tfoot td.bt-hide,
table.bt tbody td.bt-hide {
  display: none;
}

table.bt tfoot th .bt-content,
table.bt tfoot td .bt-content,
table.bt tbody td .bt-content {
  vertical-align: top;
}

.bt-wrapper.active {
  max-height: 310px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


ul, li {
  list-style: none;
}

/** custom fonts **/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');

/** main styles **/
body {
  @include primaryfont;
  background: $primarybg;
}

a:hover {
  text-decoration: none;
}

* {
  transition: all 0.2s ease;
}

//header styles starts
.fixed-theme {
  #topNav {
    box-shadow: 3px 0 3px #333;
  }
}

header {
  //news updates styles starts
  .newsupdates {
    background: $bluecolor;
    height: 40px;
    transition: all 0.2s ease;

    a {
      color: $whitecolor;
      text-decoration: none;

      span {
        color: $orangecolor;
        @include fbold;
      }
    }

    .closenews {
      top: 10px;
      right: 10px;
    }
  }

  //news updates ends

  //top header styles starts
  .topheader {
    @include mobile {
      .navbar-toggler {
        background: $whitecolor;
        top: -32px;
        right: 0;
        position: absolute;

        i {
          color: $orangecolor;
        }
      }
    }
    background: $orangecolor;
    height: 45px;
    @include mobile {
      height: auto;
    }

    ul.nav {
      li.nav-item {
        a.nav-link {
          color: $whitecolor;

          &:after {
            @include whiteseperator();
          }

          &:hover {
            color: $bluecolor;
          }
        }

        &:last-child {
          a.nav-link:after {
            content: '';
          }
        }
      }
    }

    li.nav-item {
      a.nav-link {
        color: $whitecolor;
        text-transform: uppercase;
        @include nopadx;

        &:after {
          @include whiteseperator;
        }
      }

      &:last-child {
        a:after {
          content: '';
          @include nopadx;
        }
      }

      .dropdown-menu {
        top: 38px;
        border-radius: 0;

        a.dropdown-item {
          padding-top: 10px;
          padding-bottom: 10px;

          &:hover {
            background: $bluecolor;
            color: $whitecolor;
          }
        }
      }
    }

    .navbar {
      .nav-item {
        .nav-link {
          &:hover {
            color: $bluecolor;
          }
        }
      }
    }
  }

  //top header styles ends
  .blognav {
    background: none !important;

    .blogbrand {
      img {
        width: 250px;
      }
    }

    #topNav {
      height: auto !important;
      background: none;

      .navbar-collapse {
        background: $whitecolor;
      }
    }
  }

  // main navigation starts
  #topNav {
    background: $whitecolor;
    height: 70px;
    @include nopady;
    @include mobile {
      height: auto;
    }

    .nav-item {
      .nav-link {
        color: $primarycolor;
        text-transform: uppercase;

        &:hover {
          color: $orangecolor;
        }
      }
    }

    .navactive {
      a.nav-link {
        color: $orangecolor;
      }
    }

    .dropdown {
      .dropdown-menu {
        border-radius: 0;

        .dropdown-item {
          padding-top: 10px;
          padding-bottom: 10px;

          &:hover {
            background: $bluecolor;
            color: $whitecolor;
          }
        }
      }
    }

    .navbar-brand {
      margin-right: 25px !important;

      img {
        height: 60px;
        @include mobile {
          height: 45px;
        }
      }
    }

    .search {
      input[type="text"] {
        background: none;
        height: 35px;
        min-width: 300px;
        border: 1px solid $primarycolor;
        padding: 0 15px;

        @include mobile {
          width: 100%;
        }

        &:focus {
          outline: none;
        }
      }

      input[type="submit"] {
        background: $bluecolor;
        border-radius: 0;
        height: 35px;
        border: none;
        padding: 0 15px;
        color: $whitecolor;
        cursor: pointer;
        @include mobile {
          width: 100%;
        }

        &:hover {
          background: $orangecolor;
        }

        &:focus {
          border: none;
          outline: none;
        }
      }
    }

    @include mobile {
      .headersocial {
        width: 100%;
        display: block;
        float: left;

        li {
          float: left;
          margin: 0 10px;
        }
      }
    }
  }

  //main navigation ends
}

//header styles ends

//main content styles starts

main {
  min-height: 800px;
}

//carousel styles starts
.primarycarousel {
  .carousel-item {
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  //.slider01{
  //   background:url(../images/sliderhome01.jpg);
  //}
  //.slider02{
  //    background:url(../images/sliderhome02.jpg);
  // }
  // .slider03{
  //    background:url(../images/sliderhome03.jpg);
  // }
  .carousel-indicators {
    display: none;
  }

  height: 600px;
  margin-top: 115px;

  article {
    background: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -25%;
    z-index: 99;
    width: 50%;

    @include mobile {
      top: 5%;
      left: 0;
      margin-top: 0;
      margin-left: 0;
      width: 100%;
    }

    .h2 {
      color: $whitecolor;
      @include fbold;
      font-size: 50px;

      @include mobile {
        font-size: 25px;
      }

      span {
        color: $orangecolor;
      }
    }

    p {
      color: $whitecolor;
    }
  }

  .carousel-control-next,
  .carousel-control-prev {
    background: $orangecolor;
    width: 50px;
    height: 50px;
    top: 50%;
    opacity: 1;
    margin-top: -25px;

    &:hover {
      background: $bluecolor;
    }
  }
}
.carousel-control-prev, .carousel-control-next{
    background: #000;
    opacity: 0;
    width: 5%;
}

.page-container{
    top: 40px;
    position: relative;
}
.page-container.home{
    top: 150px;
    position: relative;
}

.homeOffers {
  background: $whitecolor;

  .offers-slider {
    margin-top: 50px;

    .videooffer {
      height: 320px;
      @include mobile {
        height: auto;
      }
    }

    .svg-inline--fa{
      color: #0c5460;
    }

    .offersimg {
      height: 320px;
      @include mobile {
        height: auto;
        margin-bottom: 10px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .offerarticle {
        background: rgba(84, 90, 104, 0.8);
        position: absolute;
        width: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0 50px;
        color: $whitecolor;

        @include mobile {
          width: 90%;
          padding: 0 10px;
          bottom: 6px;
        }

        article {
          margin: 0 auto;
        }


        h4 {
          font-size: 24px;
          @include fmedbold;
          position: relative;

          @include mobile {
            font-size: 20px;
          }


          &:after {
            @include hometitleafter;
            bottom: -5px;
            height: 2px;
          }
        }

        h2 {
          font-size: 75px;
          @include fbold;
          padding: 10px 0;

          span {
            @include fmedsize;
            @include fmedbold;
            margin-top: -10px;
          }

          @include mobile {
            font-size: 45px;
          }
        }

        a {
          @include linkbtn;

          &:hover {
            @include linkhover;
          }
        }
      }
    }

    i {
      font-size: 30px;
      color: $primarycolor;
    }

    .carousel-control-next,
    .carousel-control-prev {
      opacity: 1;
      width: 50px;
      height: 50px;
      top: -62px;
      bottom: inherit;
    }

    .carousel-control-next {
      right: 46%;

        background: #000;
      @include mobile {
        right: 35%;
      }

      &:hover i {
        color: $orangecolor;
      }
    }

    .carousel-control-prev {
      left: 46%;

        background: #000;
      @include mobile {
        left: 35%;
      }

      &:hover i {
        color: $orangecolor;
      }
    }
  }
}

.categoriesHome {
  background: saturate($primarybg, 8);

  .resp-tabs-list {
    text-align: center;
    margin-bottom: 25px;

    li.resp-tab-active {
      background: $primarycolor !important;
      color: $whitecolor;

      &:hover {
        color: $whitecolor !important;
      }
    }

    li {
      float: none;
      text-transform: uppercase;

      &:hover {
        color: $orangecolor;
      }
    }
  }
}

.indextitle {
  h2 {
    @include hometitle;
    @include fsemibold;

    &:after {
      @include hometitleafter;
    }
  }
}

.hoverproduct {
  .prohover {
    height: 100% !important;
    opacity: 1 !important;
  }
}

//single product
.singleproduct {
  @include product;

  figure {
    img {
      height: 350px;
    }

    .discount {
      background: $orangecolor;
      color: $whitecolor;
      font-size: 13px;
      padding: 3px 10px;
      top: 10px;
      left: 10px;
      z-index: 999;
    }

    width: 100%;
    height: 350px;
    overflow: hidden;


    .prohover {
      background: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transition: all 0.2s ease;
      height: 1px;
      opacity: 0;

      ul {
        padding-top: 60%;
        text-align: center;
        width: 100%;

        li {
          display: inline-block;

          a {

            border: 1px solid #909090;
            display: inline-block;
            text-align: center;
            line-height: 20px;
            margin: 0 3px;
            font-size: 12px;


          }
        }
      }
    }
  }


  &:hover {
    img {
      transform: scale(1.2, 1.2);
    }
  }

  article {
    a {
      font-size: 16px;
      @include fmedbold;
      color: #000;

      &:hover {
        color: $orangecolor;
      }
    }

    ul {
      padding: 10px 0;

      li {
        display: inline;
        padding: 0 10px;
      }

      i {
        padding: 0 3px;
        font-size: 12px;
      }

      .oldprice {
        span {
          @include linethrough;
        }
      }
    }
  }
}

.banner-advertisement {
  background: url(/frontend/images/bannergreent.jpg) no-repeat 0 0;
  width: 100%;
  background-size: cover;
  min-height: 500px;
  padding: 135px 0;

  &:before {
    content: '';
    background: rgba(88, 152, 93, 0.6);
    @include afterbgposition;
    z-index: 0;
  }

  article {
    z-index: 999;;
  }

  h3 {
    font-size: 24px;
    @include fsemibold;
    color: $whitecolor;
  }

  h2 {
    font-size: 3rem;
    @include fbold;
    color: $whitecolor;

    span {
      color: $orangecolor;
    }
  }

  p {
    color: $whitecolor;
    font-size: 16px;
    line-height: 25px;
  }

  a {
    @include linkbtn;
    margin: 20px 0;

    &:hover {
      background: $whitecolor;
      color: $orangecolor;
    }
  }
}

.categoryTiles {
  .aromarow {
    margin-top: 20px;
  }

  .tilecol {
    position: relative;

    figure {
      img {
        width: 100%;
      }
    }

    .titlearticle {
      position: relative;

      article {
        top: 50%;
        left: 50%;
        margin-top: -10%;
        margin-left: -25%;
      }
    }

    article {
      margin-top: -65px;
      top: 50%;
      z-index: 999;

      h4 {
        font-size: 25px;
        @include fbold;
        color: $whitecolor;
      }

      p {
        color: $whitecolor;
        font-size: 14px;
        padding: 0 10%;
      }

      a {
        letter-spacing: 2px;
        color: $whitecolor;
        @include linkbtn;
        @include fbold;

        &:hover {
          background: $whitecolor;
          color: $orangecolor;
        }
      }
    }

    &:after {
      content: '';
      opacity: 0.7;
      @include afterbgposition;
      bottom: 6px;
    }
  }

  .orangebg {
    &:after {
      background: $orangecolor;
    }
  }

  .aromasbg {
    &:after {
      background: rgba(172, 72, 91, 0.8);
    }
  }

  .teasbg {
    &:after {
      background: rgba(8, 81, 54, 0.8);
    }
  }

  .accbg {
    &:after {
      background: rgba(35, 51, 105, 0.8);
    }
  }

  .plantsbg {
    &:after {
      background: rgba(88, 93, 105, 0.8);
    }
  }

  .saltsbg {
    &:after {
      background: rgba(157, 62, 103, 0.8);
    }
  }
}

.mt20 {
  margin-top: 20px;
}

.aboutsasaya {
  .bgname {
    h2 {
      font-size: 285px;
      @include fexbold;
      color: $whitecolor;
      letter-spacing: -15px;
      text-shadow: 0 0 40px #ccc;
      line-height: 220px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.4;

      @include mobile {
        display: none;
      }
    }
  }

  .contentin {
    h2 {
      @include fbold;
      @include ftopsize;
    }

    a {
      @include linkbtn;
      border: 1px solid transparent;

      &:hover {
        @include linkhover;
        border: 1px solid $orangecolor;
      }
    }
  }
}

.policies {
  .container {
    background: $whitecolor;
    padding: 65px 0;
    margin: 25px auto;

    .row {
      margin-right: 0;
      margin-left: 0;
    }

    .border-right {
      border: none;
    }
  }

  img {
    height: 65px;
    margin-bottom: 10px;

    @include mobile {
      margin-bottom: 0;
      margin-top: 25px;
    }
  }

  h3 {
    @include fbold;
  }

  p {
    padding: 10px 8% 0 8%;;
  }
}

footer {
  margin-top: 50px;

  .topfooter {
    background: $whitecolor;
    padding: 25px 0;

    .fcoltitle {
      font-size: 18px;
      @include fsemibold;
      border-bottom: 1px solid #ccc;
      margin-bottom: 15px;
      padding-bottom: 5px;
    }

    .subscribe {
      input[type="text"] {
        padding: 0 10px;
        height: 40px;
        width: 100%;
        text-align: center;

        &:focus {
          outline: none;
        }
      }

      input[type="submit"] {
        @include linkbtn;
        border: 1px solid transparent;
        width: 100%;
        text-align: center;
        cursor: pointer;
        margin-top: 5px;

        &:hover {
          @include linkhover;
          border: 1px solid $orangecolor;
        }
      }
    }

    ul {
      li {
        padding: 0 0 7px 0;

        a {
          color: $primarycolor;

          &:hover {
            color: $orangecolor;
          }
        }
      }
    }

    table {
      td {
        padding: 5px 10px;

        i {
          font-size: 16px;
        }
      }
    }

    .footersocial {
      li {
        margin-right: 5px;

        a {

          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          color: $primarycolor;
          border: 1px solid #ccc;
          display: block;

          &:hover {
            background: $orangecolor;
            border: 1px solid $orangecolor;

            i {
              color: $whitecolor;
            }
          }

          i {
            font-size: 20px;
          }
        }
      }
    }
  }

  .bottomfooter {
    background: $primarycolor;
    padding: 5px 0;

    .col-lg-6 {
      @include mobile {
        text-align: center !important;
      }
    }

    p {
      color: $whitecolor;
    }

    #movetop {
      width: 45px;
      height: 45px;
      background: $orangecolor;
      color: #fff;
      bottom: 0;
      right: 4px;
      border-radius: 50%;
      text-align: center;
      line-height: 45px;
      position: fixed;
      display: none;
      border: 1px solid transparent;

      &:hover {
        @include linkhover;
        border: 1px solid $orangecolor;
      }
    }
  }
}

//login and register

.sign {
  height: 100vh;

  .leftsign {
    background: #fffaf4 url(/frontend/images/lolginleftimg.png) no-repeat center center;
    min-height: 100vh;
    border-right: 2px solid #ffe9ce;
  }

  .signin {
    width: 450px;
    min-height: 450px;
    background: $whitecolor;
    border: 1px solid #ececeb;
    box-shadow: 2px 2px 2px #eee;
    padding: 30px;

    .signlogo {
      img {
        width: 250px;
      }
    }

    h3 {
      font-size: 25px;
      @include flight;
    }

    h4 {
      font-size: 16px;
      @include flight;
    }
  }

  .form-group {
    margin: 0 0 20px 0;;

    label {
      padding-bottom: 3px;
    }

    a {
      color: $primarycolor;

      &:hover {
        color: $orangecolor;
      }
    }

    .form-control {
      font-size: 14px;
      height: 45px;
      border-radius: 0;

      &:focus {
        outline: 1px solid $orangecolor;
        box-shadow: none;
        border: none;
      }

      &::placeholder {
        color: #ccc;
      }
    }
  }

  .btn {
    @include linkbtn;

    &:hover {
      @include linkhover;
      border: 1px solid $orangecolor;
    }
  }

  p {
    font-size: 14px;

    a {
      color: $orangecolor;
    }
  }
}

//sub page styles
.subpage {
  min-height: 600px;
  padding-top: 116px;

  .pageheader {
    background: url(/frontend/images/productlist-headerbg.jpg) no-repeat 0 0;
    width: 100%;
    height: 110px;
    background-size: cover;
    padding-top: 15px;

    &:before {
      content: '';
      @include afterbgposition;
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
    }

    article {
      h2 {
        @include ftopsize;
        color: $whitecolor;
        @include fmedbold;

        span {
          @include flight;
          font-size: 16px;
          color: $whitecolor;
        }
      }
    }

    ul.nav {
      margin-top: 15px;

      .nav-item {

        &:last-child {
          a {
            color: $orangecolor;

            &:after {
              content: '';
              padding: 0;
            }
          }
        }

        .nav-link {
          padding: 0;
          color: $whitecolor;
          font-size: 12px;

          &:after {
            content: '/';
            padding: 0 10px;
            color: $whitecolor;
          }
        }
      }
    }
  }

  .subpagebody {
    padding-top: 30px;

    h4.subtitle {
      @include fmedsize;
      color: $orangecolor;
      text-transform: uppercase;
      @include fsemibold;
    }

    h5.medtitle {
      @include fmedsize;
      @include fsemibold;
    }

    .filterrow {
      input[type='text'] {
        border: none;
        background: none;
        height: 25px;
        border-bottom: 1px solid #ccc;
        margin-left: 10px;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #ccc;
        }
      }

      .filterproduct {
        li {

          &:last-child {
            a {
              &:after {
                content: '';
                padding: 0;
              }
            }
          }

          a {
            padding: 0;
            color: $primarycolor;

            &:hover {
              color: $orangecolor;
            }

            &:after {
              content: '|';
              padding: 0 10px;
            }
          }
        }
      }
    }

    .blogcol {
      h4 {
        @include fmedsize;

        a {
          color: $primarycolor;
        }
      }

      .bloginfo {
        padding-top: 5px;

        li {
          font-size: 11px;
          color: $lightgray;

          &:last-child {
            &:after {
              content: '';
              padding: 0;
            }
          }

          &:after {
            content: '|';
            padding: 0 10px;
          }
        }
      }
    }

    .blogdetail {
      h4 {
        @include fmedsize;

        a {
          color: $primarycolor;
        }
      }

      h6 {
        a {
          color: $primarycolor;
        }
      }

      .bloginfo {
        padding-top: 5px;

        li {
          font-size: 11px;
          color: $lightgray;

          &:last-child {
            &:after {
              content: '';
              padding: 0;
            }
          }

          &:after {
            content: '|';
            padding: 0 10px;
          }
        }
      }
    }
  }

  .colcontact {
    background: $whitecolor;
    padding: 20px;

    figure {
      height: 300px;

      img {
        width: 65px;
      }

      h4 {
        @include fsemibold;
        @include fmedsize;
      }

    }
  }

  .formcol {
    background: $whitecolor;
    padding: 20px;

    h4 {
      @include fmedsize;
    }

    .form {
      input[type="text"] {
        border-radius: 0;
        margin-top: 2px;

        &::placeholder {
          color: #ccc;
          font-size: 14px;
        }
      }

      textarea {
        border-radius: 0;
        height: 120px;
      }
    }

    input[type="submit"] {
      @include linkbtn;
      border: none;
      box-shadow: none;
      cursor: pointer;
      border: 1px solid transparent;

      &:focus {
        outline: none;
      }

      &:hover {
        @include linkhover;
        border: 1px solid $orangecolor;
      }
    }
  }

  .contentpage {
    h4 {
      @include fmedbold;
      @include fmedsize;
    }

    h5 {
      background: #e8e8e8;
      font-size: 18px;
      display: inline-block;
      padding-right: 15px;
      line-height: 50px;
      @include flight;
      margin-bottom: 20px;

      span {
        background: $orangecolor;
        height: 50px;
        padding: 0 10px;
        display: inline-block;
        margin-right: 15px;
        width: 50px;
        text-align: center;
        color: $whitecolor;
      }
    }
  }

  .table {
    background: $whitecolor;

    thead {
      background: $orangecolor;

      th {
        color: $whitecolor;
        font-weight: normal;
      }
    }
  }


  .no-records {
    font-size: 20px;
    text-align: center;

  }

  //cart page
  select.form-control {
    //width:55px;

    &:focus {
      box-shadow: none;
      border: 1px solid $orangecolor;
    }
  }

  .totalrow {
    background: $bluecolor;
  }

  .cartfigsection {
    .cartfig {
      width: 100px;
      height: 107px;
      margin-right: 20px;

      img {
        object-fit: cover;
        box-shadow: 0 0 3px #ccc;
        height: 100%;
      }
    }

    article {

      h4 {
        font-size: 16px;
        @include fsemibold;
      }

      p {
        a {
          &:hover {
            color: $orangecolor;
          }

          color: $primarycolor;
          display: inline-block;

          &:last-child {
            &:after {
              content: '';
              padding: 0;
            }
          }

          &:after {
            content: '|';
            padding: 0 10px;
          }
        }
      }
    }
  }

  .cartfoot {
    background: $bluecolor;
    color: $whitecolor;

    a {
      @include linkbtn;
      border: 1px solid transparent;

      &:hover {
        @include linkhover;
        border: 1px solid $orangecolor;
      }
    }
  }

  .checkout {
    // free gifts starts
    .free-gifts {
      h5 {
        font-size: 16px;
        color: $orangecolor;
      }

      .table {
        thead {
          background: $primarycolor;
        }
      }
    }

    // free gift ends
    .checkoutheading {
      background: $orangecolor;
      color: $whitecolor;
    }

    .resp-tabs-list {
      background: $orangecolor;
      width: 100%;
      min-height: 52px;

      li {
        background: $orangecolor !important;
        color: $whitecolor;
      }

      .resp-tab-active {
        background-color: darken($orangecolor, 5%) !important;
      }
    }

    .resp-tabs-container {
      background: $whitecolor;

      .form-control {
        border-radius: 0;
        font-size: 14px;

        &:focus {
          box-shadow: none;
          border: 1px solid $orangecolor;
        }

        input {
          ::placeholder {
            color: #eee !important;
            font-size: 13px;
          }
        }
      }

      .row {
        margin: 5px 0;
      }

      input[type="submit"] {
        @include linkbtn;
      }

      .savedaddress {
        h4 {
          @include fsemibold;
          color: $bluecolor;
          text-transform: uppercase;
          @include fmedsize;
          padding-bottom: 10px;
        }

        address {
          border-bottom: 1px solid #ccc;
          padding: 15px 0;
          margin-bottom: 10px;
          position: relative;

          &:last-child {
            border: none;
          }

          h5 {
            font-size: 16px;
            @include fsemibold;
            width: 80%;
            padding-bottom: 10px;
          }

          .addresslabel {
            top: 0;
            right: 0;
            padding: 5px;
            position: absolute;
            color: $whitecolor;
          }

          .home {
            background: #2b8001;
          }

          .office {
            background: #00aed3;
          }

          .others {
            background: #6c008b;
          }

          .editdel {
            padding-top: 10px;

            span {
              a {
                color: $primarycolor;

                &:last-child {
                  &:after {
                    content: '';
                  }
                }

                &:after {
                  content: '|';
                  padding: 0 10px;
                  color: #000;
                }
              }
            }
          }

          input[type="submit"] {
            @include linkbtn;
            margin-top: 10px;
          }
        }
      }
    }

    .order-summary {
      h5 {
        font-size: 16px;
        color: $orangecolor;
      }

      table {
        td {
          padding: 5px;
        }

        .finalprice {
          font-size: 16px;
          color: $orangecolor;
        }
      }
    }
  }

  .reveworder {
    font-size: 13px;
    line-height: 16px;

    .table {
      thead {
        background: darken($primarycolor, 20%);
      }

      .cartfigsection {
        .cartfig {
          margin-right: 10px;
        }

        width: 320px;

        article {
          h4 {
            font-size: 14px;
          }

          p {
            font-size: 12px;
            line-height: 13px;
            padding: 8px 0;
          }
        }
      }

      .subtable {
        width: 150px;

        tr {
          td {
            padding: 4px;
            border: none;
          }
        }
      }

      .cartfoot {
        background: $whitecolor;
      }
    }
  }

  .payment {
    .paymentcol {
      background: $whitecolor;
      box-shadow: 0 0 3px #ccc;
      @include overflow;
    }

    .pricepayment {
      width: 300px;
    }

    .paymenttab {
      .paymentcol {
        margin-bottom: 10px;
        padding: 20px 10px;
      }

      a {
        color: $primarycolor;
      }

      .resp-tabs-list {
        li {
          padding: 15px 10px !important;
        }
      }
    }
  }

  .rtproduct {
    .price {
      .ocolor {
        color: $orangecolor;
      }

      span {
        @include fmedsize;
        @include fmedbold;

        &:before {
          content: '|';
          padding: 0 20px;
          color: $primarycolor;
          text-decoration: none;
        }

        &:first-child {
          &:before {
            content: '';
            padding: 0;
          }
        }
      }

      .oldprice {
        @include linethrough;
      }

      .sm {
        font-size: 13px;

      }
    }

    .rttable {
      margin-top: 15px;

      tr {
        td {
          padding: 5px;
        }
      }
    }

    .nav {
      margin-top: 20px;

      li {
        margin-right: 5px;
          margin-bottom: 20px;

        &:last-child {
          a {
            background: $orangecolor;
            color: $whitecolor;
            border: 1px solid $orangecolor;

            &:hover {
              @include linkhover;
            }
          }
        }

        a {
          padding: 5px 10px;
          display: inlne-block;
          border: 1px solid #ccc;
          color: $primarycolor;
          border-radius: 5px;
          text-transform: uppercase;

          &:hover {
            background: $orangecolor;
            color: $whitecolor;
            border: 1px solid $orangecolor;

            i {
              color: $whitecolor;
            }
          }
        }

        .form-control {
          margin-top: -9px;
          height: 42px;
          width: 60px;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }

  .deliverto {
    width: 75%;

    .inputdelivery {
      background: none;
      padding: 10px;
      border: 1px solid #ccc;
      height: 46px;
      border-radius: 5px;

      input {
        font-size: 14px;
        color: #333;
        border: none;
        background: none;

        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:first-child {
          width: 70%;
          border-right: 1px solid #a8a8a8;
          padding-left: 10px;
        }

        &:last-child {
          width: 30%;
          padding-left: 10px;
          cursor: pointer;

          &:hover {
            color: $orangecolor;
          }
        }
      }
    }
  }

  .sharepro {
    margin-top: 0 !important;

    li {
      a {
        padding: 3px 5px;
        font-size: 13px;
        color: $whitecolor !important;
        border: none !important;
      }
    }

    .fb {
      background: #35538f;
    }

    .tw {
      background: #34b3d3;
    }

    .pin {
      background: #b70400;
    }

    .gplus {
      background: #d53e2b !important;
    }
  }

  .productdetailtab {
    .resp-tabs-list {
      background: $whitecolor;
      overflow: hidden;

      li {
        background: $whitecolor !important;
      }

      .resp-tab-active {
        background: $orangecolor !important;
        color: $whitecolor;
      }
    }

    .resp-tab-content {
      background: $whitecolor;
      margin-top: 15px;

      .specsdetails {
        padding: 10px 20px;

        h5 {
          border-bottom: 1px solid #ccc;
        }

        table {
          td {
            padding: 6px;
          }
        }

        .ratecol {
          h2 {
            font-size: 60px;
            color: $orangecolor;
          }

          .ratestars {
            i {
              margin: 2px 3px;
              color: $bluecolor;
            }
          }

          .ratep {
            color: $orangecolor;
          }
        }

        .progress-bar {
          background: $orangecolor;
        }

        .revdiv {
          img {
            height: 120px;
          }

          a {
            @include linkbtn;

            &:hover {
              @include linkhover;
              border: 1px solid $orangecolor;
            }
          }
        }
      }

      .helpfulreview {
        width: 100%;
        padding: 15px 0;
        margin-top: 20px;

        .reviewrow {
          padding: 25px 0;

          figure {
            img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              object-fit: cover;
              box-shadow: 0 0 3px #ccc;
            }
          }

          .navhelpimg {
            .nav-item {
              margin-right: 10px;

              img {
                width: 100px;
                height: 100px;
                object-fit: cover;
              }
            }
          }

          .deliverto {
            width: 100%;
          }
        }
      }
    }
  }

  .relatedproducts {
    margin: 25px 0;

    h5 {
      background: #f4f4f4;
      padding: 0 15px;
      display: inline;

      &:after {
        content: '';
        border-bottom: 1px solid #ccc;
        position: absolute;
        width: 100%;
        height: 1px;
        top: 11px;
        left: 0;
        z-index: -1;
      }
    }
  }

  .rowaccount {
    background: $whitecolor;
    min-height: 550px;

    .cartheadrow {
      h5 {
        background: $bluecolor;
        color: $whitecolor;
      }
    }

    .myaccountleftnav {
      li {
        a {
          font-weight: 500;
          color: $primarycolor;
          padding: 8px 25px;
          display: block;
          font-size: 14px;

          &:hover {
            color: $orangecolor;
          }
        }
      }

      .ltnavactive {
        a {
          background: $orangecolor;
          color: $whitecolor;

          &:hover {
            color: $whitecolor;
          }
        }
      }
    }

    //right profile styles
    .rightprofile {
      input {
        border: 1px solid #e0e0e0;
        border-radius: 0;

        &::placeholder {
          color: #d2d2d2;
          font-size: 13px;
        }

        &:focus {
          box-shadow: none;
        }
      }

      .yeardt {
        input {
          width: 75px;
          text-align: center;
          float: left;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }

      .btn {
        @include linkbtn;

        &:hover {
          @include linkhover;
          border: 1px solid $orangecolor;
        }
      }

      .inputfile {
        .input-file {
          display: none;
        }
      }

      .propic {
        img {
          width: 150px;
        }
      }

      .passwordmust {
        .list-group-item {
          background: url(/frontend/images/listbeforeicon.png) no-repeat 0 center;
          padding: 12px 30px;
          border: none;
        }
      }

      .showpw {
        i {
          font-size: 20px;
          color: #ccc;
          position: absolute;
          right: 10px;
          bottom: 6px;
        }
      }

      .btn {
        @include linkbtn;

        &:hover {
          @include linkhover;
        }
      }

      .ordertab {
        padding-top: 10px;

        .cartimg {
          img {
            width: 78px;
            height: 78px;
            object-fit: cover;
            border: 1px solid #ccc;
          }
        }

        .orddetlist {
          li {
            &:last-child {
              &:after {
                padding: 0;
                content: '';
              }
            }

            &:after {
              padding: 0 10px;
            }
          }
        }
      }

      .fgreen {
        color: $fgreen;
      }

      .ord-status {
        padding: 40px 25px 35px 25px;

        .barcol {
          width: 32.5%;
          position: relative;

          i {
            font-size: 9px;
            color: #579624;
          }

          a {
            line-height: 8px;
            position: absolute;
            top: 0;
            left: 0;
          }

          a.delivered {
            right: 0;
            left: inherit;
          }

          .sttext {
            font-size: 14px;
            position: absolute;
            top: -25px;
            left: -8%;
          }

          .deliveredst {
            right: -10%;
            left: inherit;
          }

          .barstrip {
            position: relative;
            background: #83c44e;
            width: 100%;
            height: 9px;
          }

          &:first-child {
            .barstrip {
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            }
          }

          &:last-child {
            .barstrip {
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
        }

      }

      .table-orderdetails {
        tr {
          td {
            padding: 5px;
          }
        }
      }

      .finalprice {
        tr {
          td {
            padding: 6px;
            color: $fgreen;
            font-size: 16px;
          }
        }
      }

      .addbox {
        margin-bottom: 25px;
        height: 210px;
        width: 100%;
        padding: 20px;

        p {
          font-size: 14px;
          line-height: 22px;
        }

        .Defaultadd {
          top: 21px;
          right: 15px;
          font-size: 14px;
          color: $fgreen;
        }

        .editdel {
          a {
            color: $primarycolor;

            &:hover {
              color: $orangecolor;
            }
          }
        }
      }

      .addplus {
        .acaddin {
          width: 44px;
          height: 44px;
          text-align: center;
          line-height: 42px;
          border-radius: 50%;
          border: 1px dashed #dbdbdb;
          display: inline-block;
          margin-bottom: 10px;

          i {
            color: $primarycolor;
          }
        }

        span {
          color: $primarycolor;
        }
      }

      .dashed {
        border: 1px dashed #ccc;
        box-shadow: 0 0 8px #ccc;
      }

      .addbox-support {
        .svg {
          width: 66px;
        }

        figure {
          height: 300px;
        }
      }


    }

    .no-border {
      td {
        border: none;
      }
    }

    .ordtitle {
      padding-bottom: 10px;
    }

    //right profile styles ends
  }

  .ordrow {
    a {
      color: #212121;
    }
  }
}

.addform {
  .form-control {
    border: 1px solid #e0e0e0;
    font-size: 14px;
    border-radius: 0;

    &:focus {
      outline: 1px solid #db302f;
      box-shadow: none;
    }

    &::placeholder {
      color: #d2d2d2;
    }
  }
}

.modalcustom {
  thead {
    background: $orangecolor;
    color: $whitecolor;
  }

  .modal-title {
    color: $orangecolor;
    font-size: 16px;
  }

  h5 {
    color: $orangecolor;
    font-size: 16px;
  }

  a {
    color: $orangecolor;
  }

  td {
    vertical-align: middle;
  }
}

//responsive styles for mobile
@include mobile {
  .hidexs {
    display: none;
  }
  header .topheader li.nav-item a.nav-link:after {
    display: none;
  }
  h2.resp-accordion {
    padding: 15px;
  }
}
